:root {
    --bs-primary: orange; /* Change primary color */
    --bs-secondary: #ffc20c; /* Change secondary color */
    --bs-success: #198754; /* Change success color */
    /* Customize other colors as needed */
    --bs-font-sans-serif: 'Open Sans', sans-serif; /* Change font */
    --bs-body-font-size: 1rem; /* Change default font size */ 
  }

  .btn-primary {
    background-color: #f28908; 
    border-color: #f28908;
  }



.header-text {
    color: #198754;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
  color: #f28908; 
  background-image: linear-gradient( #f28908, rgba(225, 97, 6, 0.575));
}
.navbar {
  background-color: #f28908;
}

.navbar .navbar-brand {	color: whitesmoke;
    font-size: 24px;}

    
  .post-image-container {
    max-width: 100%; /* Ensure the container doesn't overflow */
    margin-bottom: 1rem; /* Add spacing below the image */
}

.post-image {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Rounded corners */
}

/* Adjust image size for large screens */
@media (min-width: 992px) {
    .post-image {
        width: 600px; /* Fixed width for large screens */
        height: auto; /* Maintain aspect ratio */
    }
}

.post-image {
  transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.post-image:hover {
  transform: scale(1.02); /* Slightly enlarge the image on hover */
}