{% include "nav.html" %}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 gx-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{anime['main_picture']['large']}}" class="d-block mx-lg-auto img-fluid" alt="{{anime['title']}}" width="500" height="600" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h4 class="text-body-emphasis mb-3">{{anime['title']}}</h4>
        <figcaption class="blockquote-footer">
           ENG: {{anime['alternative_titles']['en']}}
          </figcaption>
          <figcaption class="blockquote-footer">
            JAP: {{anime['alternative_titles']['ja']}}
           </figcaption>
        {% for synonym in synonyms: %}
        <p class="fw-bold fs-6">{{synonym}}</p>
        {% endfor %}
        <p >{{anime['synopsis']}}</p>
        {% if anime['start_season'] %}
        <p class="fs-6 text-capitalize fw-semibold">Season : {{anime['start_season']['season']}} - {{anime['start_season']['year']}}</p>
        {% endif %}
        <p class="fs-6 text-capitalize fw-semibold">Number of episodes : {{anime['num_episodes']}}</p>
        <div class="d-flex gap-2 mb-auto py-2">
            
            {% for genre in genres: %}
            <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">{{genre['name']}}</span>
            {% endfor %}
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary py-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add anime
        </button>
        <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Add post
        </button>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Post About {{anime['title'].title()}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{{ url_for('post_tagged') }}" method="post" enctype="multipart/form-data" class="mb-auto">                  <div class="row justify-content-start">
                  <div class="col-3 float-start py-2">
                    <span class="material-symbols-outlined float-end g-2">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EFEFEF">
                        <path d="M440-440ZM120-120q-33 0-56.5-23.5T40-200v-480q0-33 23.5-56.5T120-760h126l74-80h240v80H355l-73 80H120v480h640v-360h80v360q0 33-23.5 56.5T760-120H120Zm640-560v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80ZM440-260q75 0 127.5-52.5T620-440q0-75-52.5-127.5T440-620q-75 0-127.5 52.5T260-440q0 75 52.5 127.5T440-260Zm0-80q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Z"/>
                      </svg>
                      </span>
                  </div> 
                  <input type="hidden" name="tag_name" value="{{ anime['title'] }}">
                  <input type="hidden" name="tag_mal_id" value="{{ anime['id'] }}">
                  <input type="hidden" name="tag_type" value={{ tag_type }}>

                  <div class="input-group col py-2">
                    <input type="file" class="form-control" type="file" name="file" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    <button class="btn btn-outline-secondary" id="inputGroupFileAddon04">
                      <span class="material-symbols-outlined">
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EFEFEF">
                        <path d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                      </span>
                    </button>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <!-- <span class="input-group-text">With textarea</span> -->
                  <textarea class="form-control" name="post_body" aria-label="With textarea"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn">
                  <span class="material-symbols-outlined">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EFEFEF">
                      <path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/>
                    </svg>
                </button>
              </form>
              <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div> -->
              </div>
        </div>
      </div>
      </div>
      </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{anime['title']}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('addshow', id=anime['id'], title=anime['title']) }}" method="post">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
          {% endif %}
        {% endwith %}
          <div class="mb-3">
            <label class="form-label">Rating</label>
            <input type="text" name="rating" class="form-control gx-3" id="Rating" placeholder="Rate out of 5" required>
          </div>
          <select class="form-select mb-3" aria-label="Default select example" name="status" required>
            <option selected>Status</option>
            <option value="Watching">Watching</option>
            <option value="Rewatching more than once">Rewatching more than once</option>
            <option value="Rewatching">Rewatching</option>
            <option value="Seen">Seen</option>
          </select>
          <div class="mb-3">
            <label class="form-label">Overview</label>
            <input type="text" name="overview" class="form-control gx-3" id="Overview" placeholder="What do you think of {{anime['title']}}" required>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" name="submit">Submit</button>      
      </div>
    </form>
    </div>
  </div>
</div>

      </div>

    {% if num_recommendations > 0 %}
    </div>
    <h2 class="pb-2 border-bottom py-5">More like {{anime['title']}}</h2>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 py-5" id="animeGrid">
      {% for anime in recomendations: %}
    <a href="{{url_for('add',id=anime['node']['id'])}}">
      <div class="col {% if loop.index > 4 %}hidden-card{% endif %}">
        <div class="card text-bg-dark h-100">
            <img src="{{anime['node']['main_picture']['medium']}}" class="card-img-top" alt="{{anime['node']['title']}}" style="height: 100%; object-fit: cover;">
            <div class="card-body">
                <h6 class="card-title text-truncate">{{anime['node']['title']}}</h6>
            </div>
        </div>
    </div>
    </a>

      {% endfor %}
<div class="text-center mt-4 float-end"></div>
  <button class="btn btn-primary" id="showMore">Show More</button>
  <button class="btn btn-secondary d-none" id="showLess">Show Less</button>
</div>
    {% endif %}
</div>


<!-- posts -->
{% if num_posts > 0 %}
<div class="container-fluid py-5">
  <h2 class="pb-2 border-bottom py-5">Posts on {{anime['title']}}</h2>

  <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
          {% for post in all_posts %}
          <div class="card mb-4 shadow-sm">
              <div class="card-body">
                  <!-- Post Header -->
                  <div class="d-flex align-items-center mb-3">
                      <img src="{{ post.author.email | gravatar }}" alt="User Avatar" class="rounded-circle me-2" width="40" height="40">
                      <div>
                          <h6 class="mb-0">{{ post.author.name }}</h6>
                          <small class="text-muted">{{ post.date }}</small>

                      </div>
                  </div>
                  <!-- Post Image -->
                  {% if post.image %}
                  <div class="post-image-container mb-3">
                      <img src="{{ url_for('serve_image', image_id=post.id) }}" alt="Post Image" class="img-fluid rounded">
                  </div>
                  {% endif %}
                                      <!-- Post Content -->
                  <p class="card-text">{{ post.post }}</p>
                  <p class="card-text">
                    <small class="text-muted">{{ post.liked_by.count() }} Likes</small>
                </p>
                  <!-- Post Actions -->
                  <div class="d-flex justify-content-between">

                    <button id="like-button-{{ post.id }}" class="btn btn-sm btn-danger" onclick="toggleLike({{ post.id }})">
                      {% if current_user in post.liked_by %}
                      <i class="bi bi-heart"></i>  Unlike
                      {% else %}
                      <i class="bi bi-heart-fill"></i> Like
                      {% endif %}
                  </button>
                      <button class="btn  btn-sm">
                          <i class="bi bi-chat"></i> Comment
                      </button>
                      <button class="btn btn-sm">
                          <i class="bi bi-share"></i> Share
                      </button>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
{% endif %}
{% include "footer.html" %}

